.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 18px;
  color: orangered;
}

.header div {
  display: flex;
  align-items: center;
}

.header div span {
  padding-left: 5px;
  font-size: 18px;
}

.header .icon {
  color: #1b1b1b;
  font-size: 18px;
}
